body{
    font-family: "Arial Narrow";
    font-size: 120%;
}

header{
    font-family: "Arial Narrow";
    font-style: bold;
}

footer{
    font-size: 85%;
}

h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p{
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width: 20%;
    min-width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

*{
    background-color: darkolivegreen;
}